*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Fira Sans", sans-serif;
    color: white;
    font-size: 18px;

}

.fira-sans-primary{
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
}

.primary-width{
    max-width: 1320px;
    margin: 0 auto;
}

header{
    background-image:linear-gradient(#161412e8, #161412e8), url(images/5437.jpg);

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul li{
    list-style: none;
    padding: 16px;

}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    color: white;

}

nav li button{
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    color: black;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 2px solid white;
    cursor: pointer;

}

nav li button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

nav li a:hover{
    text-decoration: underline;
    
}

/* hero-container section */

.hero-container{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

}

.hero-sub-content{
    max-width: 620px;
}

.hero-content{
    width: 50%;

}

.hero-sub-tittle{
    font-size: 20px;
    font-weight: 700;
    color: #eb6029;

}

.hero-main-tittle{
    font-size: 62px;
    font-weight: bold;
    margin: 20px 0px;


}

.hero-description{
    margin-bottom: 60px;
    


}

.btn-primary{
    font-size: 18px;
    font-weight: 700;
    background-color: #eb6029;
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 2px solid #eb6029;
    margin-right: 10px;
    cursor: pointer;

}

.btn-secondary{
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    color: white;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 2px solid white;
    cursor: pointer;

}

.btn-primary:hover{
    color: white;
    background-color: #b04e28;
    border: 2px solid #b04e28;

}

.btn-secondary:hover{
    color: #eb6029;
    border: 2px solid #eb6029;
}

.hero-image{
    width: 40%;

}

.hero-image img{
    width: 100%;
    border-radius: 200px 0px 0px 0px;

}

/* offer section */

.offer-container{
    padding: 140px 0px;
   

}

.offer-content{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;

}

.offer-sub-tittle{
    font-size: 20px;
    font-weight: 500;
    color: #eb6029;
    text-transform: uppercase;

}

.offer-main-tittle{
    color: black;
    font-size: 56px;
    font-weight: bold;
    margin: 15px 0px 20px 0px;   

}
.offer-description{
    color: #48413b;
    line-height: 30px;
    
}


.offer-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 100px 0px 0px 0px;

}

.offer-image{
    height: 550px;
    position: relative;

}

.hello img{
    width: 100%;

}

.offer-card{
    background-color: #f6f2ee;
    padding: 40px 50px 40px 30px;
    width: 310px;
    position: absolute;
    right: 0;
    bottom: 0;

}

.offer-card-main-tittle{
    font-size: 24px;
    font-weight: 500;
    color: black;

}

.offer-card-description{
    color: #48413b;
    font-size: 18px;
    margin: 15px 0px 20px 0px;

}

.offer-card-sub-tittle{
    font-size: 20px;
    font-weight: 500;
    color: #eb6029;
    text-transform: uppercase; 

}

.offer-card-sub-tittle a{
    color: #eb6029;
}

.offer-icon{
    color: #eb6029;
    font-size: 35px;
    margin-bottom: 30px;
}

/* expercnce section */

.expercnce{
    background-color: #F6F2EE;
    margin-bottom: 150px;

}

.expercnce-container{
    padding-top: 150px;
    color: black;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;

}
.expercnce-sub-tittle{
    font-size: 20px;
    font-weight: 500;
    color: #eb6029;
    
}
.expercnce-main-tittle{
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin: 15px 0px 20px 0px;

}
.expercnce-discription{
    font-size: 18px;
    font-weight: 400;
    color: #48413b;
    line-height: 32px;
    max-width: 600px;

}

.expercnce-items{
    margin-top: 50px;

}

.items{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}

.items i{
    font-size: 20px;
    color: #eb6029;
}

.items p{
    color: #48413b;


}

.expercnce-image{
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
    padding-bottom: 80px;

}

.expercnce-image-left-card{
    padding: 30px;
    background-color: black;
    margin-top: 15px;
    position: relative;

}

.experence-left-card-image img{
    border: 3px solid white;
    border-radius: 50%;
}

.expercnce-image-left-card-tittle{
    font-size: 22px;
    color: #eb6029;
    font-weight: 700;

}

.expercnce-image-left-card-description{
    font-size: 18px;
    color: white;

}

.experence-left-card-image{
    margin: 20px 0px;
    position: relative;

}

.card-pic-01{
    position: relative;
    z-index: 22;
}

.card-pic-02{
    position: absolute;
    z-index: 33;
    left: 50px;


}
.card-pic-03{
    position: absolute;
    z-index: 44;
    left: 100px;

}
.expercnce-zoon hr{
    border: 1px solid #e7e6e5;
}

.expercnce-zoon-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;

}

.expercnce-zoon-card{
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.expercnce-zoon-card-round{
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #eb6029;
    position: relative;

}

.expercnce-zoon-card i{
    font-size: 23px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.expercnce-zoon-card h3{
    color: #221e1b;
    font-size: 20px;
    font-weight: 500;
}

.project-container{
    margin-bottom: 150px;

}

.project-content{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;

}

.project-sub-tittle{
    font-size: 22px;
    font-weight: 500;
    color: #eb6029;
    text-transform: uppercase;

}

.project-main-tittle{
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin: 10px 0px 20px 0px;

}

.project-description{
    font-size: 18px;
    font-weight: 400;
    color: #48413b;
    line-height: 32px;

}

.project-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.project-single-card-one{
    height: 420px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.231), rgba(0, 0, 0, 0.434)), url(images/Project-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;

}

.project-single-card-two{
    height: 420px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.231), rgba(0, 0, 0, 0.434)), url(images/Project-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    

}

.project-single-card-three{
    height: 420px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.231), rgba(0, 0, 0, 0.434)), url(images/Project-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.project-single-card-four{
    height: 420px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.231), rgba(0, 0, 0, 0.434)), url(images/Project-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    
}

.project-card-content{
    margin-bottom: 30px;

}

.project-card-sub-tittle{
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;

}

.project-card-main-tittle{
    font-size: 32px;
    font-weight: 600;
    color: white;

}

/* emergency-sevrice section */

.emergency-sevrice{
    background-color: black;

}

.emergency-sevrice-container{
    /* padding-top: 100px; */
    padding: 100px 0px 120px 0px;

}

.emergency-sevrice-first-content{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 150px;

}

.emergency-sevrice-first-content-sub-tittle{
    font-size: 20px;
    font-weight: 500;
    color: #eb6029;

}

.emergency-sevrice-first-content-main-tittle{
    font-size: 56px;
    font-weight: 600;
    margin: 10px 0px 20px 0px;


}

.emergency-sevrice-first-content-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;



}

.emergency-sevrice-second-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;

}

.emerbency-service-card{
    margin: 0 auto;
    

}

.emerbency-service-card-icon{
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #ffffff38;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;

}

.emerbency-service-card-icon i{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #eb6029;

}

.emerbency-service-card-main-tittle{
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0px;

}

.emerbency-service-card-description{
    font-size: 18px;
    font-weight: 400;

}

.emergency-sevrice-third-content{
    text-align: center;
    background-color: #48413b;
    padding: 70px 0px;

}

.emergency-sevrice-third-content-sub-tittle{
    font-size: 20px;
    font-weight: 500;

}

.emergency-sevrice-third-content-main-tittle{
    font-size: 56px;
    font-weight: 600;
    color: #eb6029;
    margin: 20px 0px 30px 0px;

}

.emergency-sevrice-third-content-description{
    font-size: 18px;
    font-weight: 400;

}


.emergency-service-button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    

}

.emergency-btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border: none;
    background-color: #eb6029;
    text-transform: uppercase;
    cursor: pointer;
}

.emergency-btn i{
    margin-right: 5px;
}

.emergency-btn:hover{
    background-color: #b04e28;
}

/* review section */

.review{
    padding: 150px 0px;

}
.review-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.review-content-left{
    width: 50%;

}

.review-content-left-items{
    max-width: 480px;
}

.review-content-left-sub-tittle{
    font-size: 20px;
    font-weight: 500;
    color: #eb6029;
    text-transform: uppercase;

}

.review-content-left-main-tittle{
    font-size: 56px;
    font-weight: 600;
    color: black;
    margin: 10px 0px 15px 0px;
}

.review-content-left-description{
    font-size: 18px;
    font-weight: 400;
    color: #48413b;
    line-height: 32px;
    margin-bottom: 30px;

}

.review-btn{
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border: none;
    background-color: black;
    text-transform: uppercase;
    cursor: pointer;
}

.review-btn:hover{
    background-color: #eb6029;
}

.review-content-right{
    width: 50%;
    text-align: center;
    background-color: #F6F2EE;
    padding: 60px 90px;

}

.review-content-right-main-tittle{
    font-size: 32px;
    font-weight: 500;
    color: black;

}

.review-content-right-description{
    font-size: 18px;
    font-weight: 400;
    color: #48413b;
    line-height: 32px;
    margin: 20px 0px 30px 0px;

}

.review-box-item{
    display: flex;
    justify-content: center;
}

.review-sub-content{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
}

.review-sub-content-right-tittle{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.review-sub-content-right-description{
    font-size: 18px;
    font-weight: 400;
    color: #48413b;
    margin-top: 10px;
}

/* free quote section */

.free-quote{
    margin-bottom: 150px;

}

.free-quote-container{
    display: flex;
    justify-content: center;

}

.free-quote-content{
    text-align: center;
    max-width: 620px;

}

.free-quote-sub-tittle{
    font-size: 22px;
    font-weight: 500;
    color: #eb6029;
    text-transform: uppercase;

}

.free-quote-main-tittle{
    font-size: 56px;
    font-weight: 600;
    color: black;
    margin: 15px 0px 20px 0px;


}

.free-quote-description{
    font-size: 18px;
    font-weight: 400;
    color: #48413b;
    line-height: 32px;
    margin-bottom: 50px;

}

.free-quote-btn i{
    margin-right: 5px;

}


/* footer section */

footer{
    background-color: black;

}

.footer-main-items{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;

}

.footer-item-one-description{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
    max-width: 250px;
    line-height: 30px;

}

.footer-item-one-icon i{
    font-size: 30px;
    margin-right: 8px;

}

.footer-item-tittle{
    font-size: 24px;
    margin-bottom: 40px;

}

.footer-item p{
    margin-bottom: 20px;

}

.footer-item p a{
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;

}

.footer-item-three p a:hover{
    color: #eb6029;
}

.footer-item-four-items{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 10px;

}

.footer-item-four-icon{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #eb6029;
    border-radius: 50%;
    text-align: center;
    position: relative;

}

.footer-item-four-icon i{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-item-four-content-main-tittle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;

}

.footer-item-four-content-description {
    max-width: 230px;
}

.footer-item-four-content-description a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    line-height: 30px;

}

.footer-line{
    border-bottom: 1px solid #48413b;
}

.footer-copyright{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.footer-copyright-right{
    display: flex;
    column-gap: 40px;
}

.footer-copyright-right p a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.footer-copyright-right p a:hover{
    color: #eb6029;
}


.hide{
    display: none;
}

/* responsive media query */



@media screen and (max-width: 576px) {


    
nav{
    flex-direction: column;
}    

nav ul{
    flex-direction: column;

}


nav li button{
    font-size: 12px;
    font-weight: 600;
    padding: 8px 30px;

}

.hero-container{
    padding: 0px 15px;
    margin-top: 30px;
    flex-direction: column;

}

.hero-content{
    width: 100%;
    text-align: center;

}


.hero-sub-tittle{
    font-size: 16px;

}


.hero-main-tittle{
    font-size: 24px;

}

.hero-description{
    margin-bottom: 60px;
    font-size: 13px;

}

.btn-primary{
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    width: 100%;

}

.btn-secondary{
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    width: 100%;

}

.hero-image{
    width: 100%;
    margin-top: 30px;

}

.hero-image img{
    border-radius: 100px 0px 0px 0px;

}















    
}


